<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Foodtrack</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-space-dynamic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<!--
    
TemplateMo 562 Space Dynamic

https://templatemo.com/tm-562-space-dynamic

-->
  </head>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'homepage' %}" class="logo">
              <h4>Food<span>Track</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'homepage' %}">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <li class="scroll-to-section"><a href="{% url 'login' %}">Login</a></li>
              <li class="scroll-to-section"><a href="{% url 'register' %}">Register User</a></li>
              
              <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Contact Now</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <br><br><br><br><br>
  <!-- ***** Header Area End ***** -->
<div class="container">

    <form method="post">
        {% csrf_token %}
        <div class="row">
        <div class="col-sm-5">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name :-</label>
            <input type="text" class="form-control" id="exampleInputname" aria-describedby="emailHelp" required="fill"
                placeholder="Enter the Name" name="name">

            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address :-</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                required="fill" name="email">

            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone :-</label>
            <input type="text" class="form-control" id="exampleInputphone" aria-describedby="emailHelp" required="fill"
                name="phone">

            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Message :-</label>
            <textarea class="form-control" id="exampleInputSummary" aria-describedby="emailHelp" required="fill"
                name="message"></textarea>

            </div>
            <fieldset>
            <button type="submit" id="form-submit" class="main-button ">Send Message Now</button>
            </fieldset>
        </div>
        <div class="col-sm-7">
            <br>
            <div class="card" style="width: 90 rem;">
            <div class="card-body">
                <h5 class="card-title">Food Track</h5>
                <h6 class="card-subtitle mb-2 text-muted">Make a your choice </h6>
                <p class="card-text"></p>
                <a href="{% url 'login' %}" class="btn btn-success"> Click Here Foodtrack</a>
            </div>
            </div>
        </div>
        </div> <!-- form-group// -->
    </form>
</div> 
<!-- Scripts -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/animation.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
<script src="{% static 'assets/js/templatemo-custom.js' %}"></script>
</body>
</html>